.main {
  margin: 50px auto;
   width: 500px;
   height: 500px;
   box-shadow: 0 0 10px black;
   background-color: crimson;
   text-align: center;
}
button {
  margin-top:30px;
  width: 50px;
  height: 50px;
  font-weight: 800;
  margin-right: 20px;
  background-color: cyan;

}
.eval {
width: 260px;
}
.result {
 position: relative;
 left:110px;
 top:10px;
width: 260px;
height: 50px;
background-color: white;
box-shadow: 0 0 10px black;
font-weight: 800;
font-size: 40px;
}
